name: Maven CI Code Verification

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Ensure Maven Wrapper is executable
      run: chmod +x mvnw
        
    - name: Verify Codebase (Build and Generate Stubs)
      run: ./mvnw clean package -DskipTests
