name: Patient Service CI

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - 'patient-service/**'
      - 'pom.xml'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - 'patient-service/**'
      - 'pom.xml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
        
    - name: Ensure Maven Wrapper is executable
      run: chmod +x mvnw
        
    - name: Verify patient-service Codebase
      run: ./mvnw clean package -pl patient-service -am -DskipTests
